body {
    margin:0;
    padding: 0;
    font-family:"Poppins", Sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    margin-bottom: 3rem;
}
.header{
    display: flex;
    margin-top: 3rem;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header-title {
    font-size: 2em;
}
.header-links  {
    display: flex;
    flex-wrap: nowrap;
}
.header-links > a {
    padding: 1em;
    border-style: solid;
    border-width: 0.05em;
    border-color: #ababab;
    text-decoration: none;
    color: #000;
    border-radius: 0.5em;
}
.header-links > a:hover {
    background-color: #ababab;
    text-decoration: none;
    color: #fff;
    transition: all .3s;
}
.calendar {
    margin-top: 1em;
}
table {
    border-collapse: collapse;
}
.day-description {
    height: 3em;
    width: 10em;
    text-align: center;
    font-size: 1em;
    color: #484848;
    background-color: #d1d0d0;
}
.month-description {
    height: 3em;
    width: 10em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background-color: #959af4;
    text-transform: uppercase;
    border-radius: 0.5em 0.5em 0 0;
}
th {
    height: 10em;
    width: 10em;
    border-style: solid;
    border-width: 0.05em;
    border-color: #ababab;
}
.days, .next-days{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0.5em;
    background-color: #ebebeb;
    color: #a9a9a9;
}
.today {
    background-color: #edeefa;
}
.days, .next-days, .actual-days, .today{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0.5em;
}

.date{
    font-size: 0.8em;
    font-weight: lighter;
    padding: 1em;
}
.note{
    font-size: 0.8em;
    text-align: left;
    font-weight: lighter;
    border-radius: 0.5em;
    border-width: 0.05em;
    background: #c7c7ef;
    padding: 0.5em;
    cursor: pointer;
}
.modal-fade {
    background-color: #333333;
    opacity: 50%;
    display: none;
    position: fixed;
    top: 0em;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.modal {
    display: none;
    position: fixed;
    top: 5em;
    z-index: 3;
    width: 100%;
}
.modal-content {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.modal-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0.5em;
    background-color: #fff;
}
.modal-header{
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    border-style: solid;
    border-color: #b7b7b7;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
}
.modal-header-close > a{
    color: #6b6b6b;
}
.modal-body{
    padding: 2em;
    border-style: none solid none solid;
    border-color: #b7b7b7;
    border-width: 1px;
}
.modal-footer{
    border-radius: 0 0 0.5em 0.5em;
    padding: 1em;
    border-style: solid;
    border-color: #b7b7b7;
    border-width: 1px;
}
.form-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
.form-input {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0.2em;
}
.form-label {
    font-size: 0.9em;
}
input {
    height: 1.5em;
    border-radius: 0.3em;
    border-width: 0.01em;
}
.form-submit {
    height: 2em;
    margin: 1em 0 1em 0;
    border-radius: 0.3em;
    border-width: 0.01em;
    background-color: #cee1f7;
}
.close {
    border-radius: 0.5em;
    background-color: #fff;
    padding: 0.1em;
    margin: 0.5em;
}
